@model ProductApp.Models.Product

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kategorija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proizvodjac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dobavljac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
               @Model.Naziv;
            </td>
            <td>
                @Model.Opis;
            </td>
            <td>
                @Model.Kategorija;
            </td>
            <td>
                @Model.Proizvodjac;
            </td>
            <td>
                @Model.Dobavljac;
            </td>
            <td>
                @Model.Cena;
            </td>
        </tr>

    </tbody>
</table>
